@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.descText {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
  font-weight: bold;
}

.brandName {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
  font-weight: bold;
}

.heroTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  color: white;
  line-height: 100px;
}

.about_title {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 32px;
}

.about_desc {
  font-family: "Noto Sans JP", sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 2rem;
  margin-top: 30px;
  margin-bottom: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
}

.logo {
  padding: 29px 0 0 58px;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 520px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -600px;
  background-color: #222222;
  padding-top: 60px;
  transition: right 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 50px;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 10px;
  right: 4px;
  font-size: 36px;
}
.sidenav .close p {
  font-size: 10px;
  padding: 0.7rem;
  font-family: "Montserrat", sans-serif;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
}

#openBtn {
  display: flex;
  text-decoration: none;
  padding-top: 35px;
}
#openBtn p {
  padding: 5px 0 0 7px;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.sidebar_content {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.hero {
  height: 740px;
  background-image: url("../../media/img/kv-img.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.hero_textContainer {
  position: absolute;
  text-align: start;
  padding: 0 0 0 57%;
  top: 20%;
}

.bg {
  height: 800px;
  background: linear-gradient(90deg, #FFFFFF 50%, #222222 50%);
  margin-bottom: 120px;
}

.about {
  height: 730px;
  justify-content: center;
  align-items: center;
  background-image: url("../../media/img/about-img.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  padding: 120px 170px;
}

.about_text {
  width: 590px;
  background-color: white;
  margin-left: 15%;
  margin-top: 3.5%;
  padding: 50px 30px;
}

.btn {
  width: 160px;
  height: 36px;
  background: #000000;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
