@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

$romaji: 'Montserrat', sans-serif;
$japanese: 'Noto Sans JP', sans-serif;

// Hero

.descText {
    font-family: $japanese;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
}

.brandName {
    font-family: $romaji;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
}

.heroTitle {
    font-family: $romaji;
    font-size: 72px;
    color: white;
    line-height: 100px;
}