@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

$romaji: 'Montserrat', sans-serif;
$japanese: 'Noto Sans JP', sans-serif;


h2 {
    font-family: $romaji;
    color: #333333;
    font-size: 32px;
}

// Hero

.descText {
    font-family: $japanese;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
}

.brandName {
    font-family: $romaji;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
}

.heroTitle {
    font-family: $romaji;
    font-size: 72px;
    color: white;
    line-height: 100px;
}



// About


.about_desc {
    font-family: $japanese;
    color: #333333;
    font-size: 16px;
    line-height: 2rem;
    margin-top: 30px;
    margin-bottom: 60px;
}



// Works

.worksAndCulture_desc {
    font-family: $japanese;
    color: #333333;
    font-size: 16px;
    margin-bottom: 27px;
}



// Topics

.topics_date {
    font-family: $romaji;
    color: #CECECE;
    font-size: 10px;
    margin-top: 29px;
    font-weight: bold;
}

.topics_desc {
    font-family: $japanese;
    color: #333333;
    font-size: 16px;
    padding: 9px 0;

}