.about {
    height: 780px;
    justify-content: center;
    align-items: center;
    background-image: url("../../media/img/about-img.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    padding: 120px 170px 0 170px;
}

.about_text {
    width: 590px;
    background-color: white;
    margin-left: 15%;
    margin-top: 3.5%;
    padding: 50px 30px;
}