header {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}

// Header

.logo {
    padding: 29px 0 0 58px;
}

// Burger Menu

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 520px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -600px;
    background-color: #222222;
    padding-top: 60px;
    transition: right 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
  }
  
  /* Active class */
  .sidenav.active {
    right: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 10px;
    right: 4px;
    font-size: 36px;
    p {
        font-size: 10px;
        padding: 0.7rem;
        font-family: $romaji;
    }
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
  }

  #openBtn {
    display: flex;
    text-decoration: none;
    padding-top: 35px;
    p {
        padding: 5px 0 0 7px ;
        text-decoration: none;
        color: white;
        font-family: $romaji;
        font-size: 10px;
    }
  }

  .sidebar_content {
    text-align: center;
    font-family: $romaji;
  }


  // Container

  .hero {
    height: 740px;
    background-image: url("../../media/img/kv-img.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
  }

  .hero_textContainer {
    position: absolute;
    text-align: start;
    padding: 0 0 0 57%;
    top: 20%;
  }

  .bg {
    height: 800px;
    background: linear-gradient(90deg, #FFFFFF 50%, #222222 50%);
    margin-bottom: 120px;
  }