.works {
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 765px;
    padding: 120px 170px;
    background: #F0F0F0;
}

.worksAndCulture_img {
    margin: 27px 0;
}